.data {
  width: 100%;
  height: 430px;
  padding: 30px 30px;
 
}
.data_header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  border: 100%;
}
.data_right {
  display: flex;
  gap: 10px;
}
.data_left {
  display: flex;
  gap: 10px;
}
.data_grid {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.data__file {
  text-align: center;
  border: 1px solid lightgrey;
  margin: 10px;
  min-width: 200px;
  padding: 10px 0px 0px 0px;
  border-radius: 5px;
}
.data__file p {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  font-size: 12px;
  background-color: whitesmoke;
  padding: 10px 0px;
}

.data__file svg {
  font-size: 60px;
  color: grey;
}
.detailsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
  text-align: center;
}
.detailsRow p {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.detailsRow p b {
  display: flex;
  align-items: center;
}
.detailsRow p svg {
  margin: 10px;
  font-size: 22px;
}

@media  screen and (max-width : 500px){
  .data {
   flex-wrap: wrap;
   display:flex;
   justify-content: center;
   align-items: center;
   width:100%;
  }
  .data_right {
    display: none;
  
  }
  .data_left {
    display: flex;
    font-size: 20px;
    
  }
  .detailsRow p {
    display: flex;
    font-size: 8px;
  
  }

  
  
  .data__file svg {
    font-size: 30px;
    color: grey;
  }
  .data__file {
    text-align: center;
    border: 1px solid lightgrey;
    margin: 10px;
    min-width: 100px;
    padding: 10px 0px 0px 0px;
    border-radius: 5px;
  }
  .data_list{
    display: flex;
    flex-direction: column;
  }
    
  
}


